@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

/*************************/

body {
  max-width: 1920px;
  font-family: "Muli", sans-serif;
  font-weight: 400;
}

#root {
  display: flex;
  flex-wrap: wrap;
  padding-left: 32px;
  padding-right: 53px;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 222px);
  margin: 0 auto;
}

.fullscreen-hide {
  display: none;
}

.gray-text {
  color: #c2c2c2;
}

/* CHANNEL PAGE */

.channel-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 30px 0 20px 0;
}

.channel-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 61px;
}

.channel-content__left-col {
  flex: 1 1 1120px;
}

.channel-content__right_col {
  margin-right: 83px;
  flex-shrink: 0;
}

.channel-menu {
  display: flex;
  font-size: 18px;
  line-height: 23px;
}

.channel-menu .active {
  color: #ff0000;
  border-bottom: 2px #ff0000 solid;
}

.channel-menu li:hover {
  color: #ff0000;
  border-bottom: 2px #ff0000 solid;
}

.channel-menu ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 69px;
  align-items: center;
}

.channel-menu ul li {
  line-height: 30px;
}

.channel-header__left-col {
  display: flex;
}

.channel-header h1 {
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
  color: #19202c;
}

.channel-header__left-col__icon {
  width: 80px;
  margin-right: 14px;
}

.channel-header__right-col {
  display: flex;
  width: 200px;
  height: 30px;
  justify-content: space-between;
  align-items: center;
}

.channel-content__top-video__preview {
  position: relative;
  flex: 0 0 540px;
  height: 250px;
}

.channel-content__top-video {
  padding-top: 54px;
  display: flex;
  max-width: 1120px;
}

.channel-content__publish-info {
  font-size: 16px;
  line-height: 22px;
  color: #c2c2c2;
  margin-top: 30px;
}

.channel-content__top-video__text {
  padding: 17px 0 15px 32px;
}

.channel-content__top-video__text h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
}

.recommended__list ul {
  list-style-type: none;
  padding: 0;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.recommended__list ul li {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 23px;
  color: #19202c;
  font-weight: 600;
}

.recommended__list ul li img {
  margin-right: 20px;
}

.channel-content__right_col__recommended {
  opacity: 0.53;
}

/* RECOMMENDED VIDEOS WITH TOGGLER */

.next-video__header__switcher {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.next-video__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.next-video__header h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
}

.vertical-list .video__card__preview {
  width: 367px;
}

/* VIDEO-PAGE */

.video-page-wrapper {
  display: flex;
  flex: 1 1 1500px;
  gap: 40px;
  padding-left: 50px;
  width: 100%;
}

.video-content {
  flex: 0 1 1361px;
  display: flex;
  flex-wrap: wrap;
}

video {
  width: 100%;
  max-height: 700px;
  object-fit: scale-down;
  background: black;
}

.feedback-btn {
  padding: 10px 20px;
  background-color: #f9f9f9;
  border-radius: 20px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.more-btn {
  margin-left: 40px;
}

.video-info__stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like-share-btns {
  display: flex;
  gap: 10px;
}

.video-description {
  display: flex;
  margin-top: 38px;
  justify-content: space-between;
}

.video-description__text {
  display: flex;
  flex: 1 1 910px;
}

.video-description__text-left-col {
  flex: 0 0 80px;
}

.video-description__text-right-col {
  flex: 0 1 820px;
  padding-left: 12px;
}

.published {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #c2c2c2;
}

.video-description p {
  padding: 15px 0;
}

.video-info {
  border-bottom: 1px #ebebeb solid;
  padding-bottom: 15px;
  flex: 0 0 100%;
}

.subscribe-light {
  display: none;
}

@media screen and (max-width: 1520px) {
  .video-page-wrapper {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 320px) {
  #root {
    padding: 0 16px;
    overflow: hidden;
  }

  .mobile-hide {
    display: none;
  }

  .fullscreen-hide {
    display: block;
  }

  .wrapper {
    width: 100%;
    padding-bottom: 30px;
  }

  .channel-header {
    flex-wrap: wrap;
    position: relative;
    top: -70px;
  }

  .channel-header p {
    font-size: 12px;
    line-height: 15px;
    color: #c2c2c2;
  }

  .channel-header h1 {
    font-size: 20px;
    line-height: 25px;
  }

  .channel-cover {
    width: 320px;
    margin: 0 -16px;
    height: 100px;
  }

  .channel-cover img {
    object-fit: cover;
    height: 100%;
  }

  .channel-header__left-col {
    flex-direction: column;
  }

  .channel-content {
    margin-bottom: 16px;
    margin-top: -70px;
  }

  .channel-header__right-col {
    height: auto;
    margin-top: 20px;
  }

  .channel-menu-mobile ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
  }

  /* VIDEOPAGE */

  .video-page-wrapper {
    padding-left: 0 !important;
  }

  .published,
  .video-description__text-right-col p,
  .show-more {
    display: none;
  }

  .video-description__text-left-col {
    flex: 0 0 50px !important;
  }

  .video-info__title h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
  }

  .video-info__stat {
    flex-wrap: wrap;
  }

  .video-description .subscribe_btn {
    display: none;
  }

  .video-page-wrapper {
    display: block !important;
  }

  .subscribe-light {
    display: flex !important;
    color: #ff0000;
  }

  .player {
    margin: 0 -16px;
  }

  .video-info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .video-info__title {
    flex: 0 1 100%;
    display: flex;
    align-items: center;
  }

  .video-description {
    align-items: center;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px #ebebeb solid;
  }

  .next-video {
    margin-top: 20px;
  }

  .next-video__header {
    margin-bottom: 13px;
  }

  .next-video__header h2 {
    font-size: 20px;
  }

  .next-video__header__switcher {
    font-size: 13px;
  }

  .like-share-btns {
    margin-top: 20px;
  }

  .gray-text {
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (min-width: 321px) {
  .next-video .video__card h3 {
    font-weight: 700 !important;
    font-size: 26px;
    line-height: 33px;
    margin-top: 11px;
    margin-bottom: 13px;
  }

  .next-video .video__info__views {
    font-size: 18px;
  }

  .next-video .video_info__channel__name {
    font-size: 18px;
  }

  .player__timebar-time {
    font-size: 22px;
    line-height: 28px;
    color: white;
  }

  .video-info__title h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    margin: 20px 0 14px 0;
  }

  .video-description__text-right-col h3 {
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
  }
}
